# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Production & Build outputs
.next/
**/.next/
out/
**/out/
build/
**/build/
dist/
**/dist/

# Environment files
.env*
**/.env*
*.env*


# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
SPU_Personnel_Master(เเก้ไข).xlsx
hr-ai-agent/document/TALENT_POOL_DEVELOPMENT_ROADMAP.md
hr-ai-agent/document/AI_JOB_DESCRIPTION_GENERATION_GUIDE.md
hr-ai-agent/document/API_INTEGRATION_CONCEPT_EXPLAINED.md
hr-ai-agent/document/CROSS_SYSTEM_INTEGRATION_GUIDE.md
hr-ai-agent/document/EMAIL_INVITATION_DEVELOPMENT_GUIDE.md
hr-ai-agent/document/EMOJI_TO_HUGEICONS_MIGRATION_PLAN.md
hr-ai-agent/document/HR_AGENT_DIGITAL_HUB_INTEGRATION.md
hr-ai-agent/document/MANAGE_PROFILE_IMPLEMENTATION_PLAN.md
hr-ai-agent/document/SPU_PERSONNEL_DATABASE_IMPORT.md
hr-ai-agent/document/SQL_INJECTION_AND_DATA_SECURITY_GUIDE.md
hr-ai-agent/document/SUPABASE_ERROR_REQUEST_ENTITY_TOO_LARGE_EXPLANATION.md
hr-ai-agent/document/VERCEL_DEPLOYMENT_GUIDE.md
hr-ai-agent/public/uploads/Resume_Phanloed_Phiphatsukpinyo.png
hr-ai-agent/public/uploads/Resume_Phanloed_Phiphatsukpinyo.pdf
hr-ai-agent/public/uploads/Resume_Phanloed Phiphatsukpinyo.pdf.pdf
hr-ai-agent/public/uploads/Resume_Phanloed Phiphatsukpinyo.pdf
hr-ai-agent/public/uploads/Resume_Phanloed Phiphatsukphinyo.pdf.pdf
hr-ai-agent/public/uploads/1788248336826_Resume_Phanloed_Phiphatsukpinyo.pdf.pdf
hr-ai-agent/public/uploads/1788246582835_Resume_Phanloed_Phiphatsukpinyo.pdf.pdf
hr-ai-agent/public/uploads/1788238022257_Resume_Phanloed_Phiphatsukpinyo.pdf.pdf
hr-ai-agent/public/uploads/1788235718112_Resume_Phanloed_Phiphatsukpinyo.pdf.pdf
hr-ai-agent/public/uploads/1788166700093_Resume_Phanloed_Phiphatsukpinyo.pdf.pdf
hr-ai-agent/document/AI_POSITION_TRAINING_AND_JD_STANDARD_PLAN.md
hr-ai-agent/document/GITHUB_PUSH_GUIDE.md
hr-ai-agent/document/PUSH_TO_AI_TEAMSPU_NOW.md
public/uploads/1788860374791_Nampueng_Resume_2026.pdf
public/uploads/1788853925348_Nampueng_Resume_2026.pdf
document/Prompt Create department.md
src/pagefront/layout/Header.tsx
document/database_jd_ai_architecture_analysis.md
document/implementation_plan for develop function ai training.md
document/prompt_review_analysis.md
